@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Nova+Mono|Roboto+Mono');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.section {
    text-align: center;
    background-size: cover;
}

.section div > h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
    padding:0;
    text-shadow: 2px 2px #666;
}

.section div > h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
    padding:0;
    text-shadow: 2px 2px #666;
}

.section div > p{
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    text-shadow: 2px 2px #666;
    padding: 0 10% 0 10%;
}

.section div {
    padding: -2% 0 0 0;
}

/*Individual slides backgrounds*/
.image0 {
    background-image: url('../images/black-white-computer-development-desk.jpeg');
    padding: 6% 0 0 0;
    max-width: 100%;
    max-height: 100%;
}
.image1 {
    background-image: url('../images/black-white-city-landscape.jpg');
    padding: 6% 0 0 0;
    max-width: 100%;
    max-height: 100%;
}
.image2 {
    background-image: url('../images/black-white-computer-desk.jpg');
    padding: 6% 0 0 0;
    max-width: 100%;
    max-height: 100%;
}
.image3 {
    background-image: url('../images/black-white-mac-keyboard.jpeg');
    padding: 6% 0 0 0;
    max-width: 100%;
    max-height: 100%;
}

#header, #footer {
    position:fixed;
    height: 4%;
    display:block;
    width: 100%;
    background: #333;
    z-index: 9;
    text-align:center;
    color: #f2f2f2;
    padding: 1% 0 0 0;
}

#footer {
    bottom: 0px;
}

#footer a {
    color: #fff;
    font-weight: bold;
}

#footer a:visited {
    color: #fff;
    font-weight: bold;
}